{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
<form action="{% url busca %}" method="get">
		<fieldset>
				{{ form|bootstrap }}
		</fieldset>
		<fieldset class="actions">
			<input type="submit" name="submit" class="btn primary" value="{% trans "Search" %}">
		</fieldset>
</form>

{% if page.object_list %}
<ul class="search-result">
{% for result in page.object_list %}
    <li class="search_item">
        {{ result.titulo }}
    </li>
{% endfor %}
<ul>
{% endif %}

{% endblock %}